/OnlineAuctionSystem/nbproject/private/
/OnlineAuctionSystem/OnlineAuctionSystem-war/nbproject/private/
/OnlineAuctionSystem/OnlineAuctionSystem-ejb/nbproject/private/
/AdministrationPanelClient/nbproject/private/
/AuctionClient/nbproject/private/
/ProxyAgent/nbproject/private/
/OnlineAuctionSystemLibrary/nbproject/private/
.DS_Store
